.user {
  padding: 10px 10px 0 10px;

  // 面包屑
  .breadcrumb {
    margin-bottom: 10px;
  }

  // 边框
  .border {
    border-top: 2px solid #ccc;
    margin-bottom: 20px;
  }
  // 表格数据
  .row-class{
    background:  #fff;
  }

  // 加载图标
  .loading-icon{
    display: block;
    margin: 0 auto;
  }

}